<ion-header>
    <ion-toolbar style="text-align: center">
      <ion-title>REGISTRO INICIAL</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content full>
    <div id="loginback">
        <ion-searchbar placeholder="CI de persona" [(ngModel)]="txtBusqueda" (keyup.enter)="getPersona()"></ion-searchbar>
        <ion-item>
            <ion-label position="stacked">Nro. documento</ion-label>
            <ion-input  [(ngModel)]="nrodocumento" type="text" readonly="true"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{etiquetas.lbl_Names}}</ion-label>
            <ion-input  [(ngModel)]="personanombre" type="text" readonly="true"></ion-input>
            <ion-input  [(ngModel)]="idpersona" type="text" [hidden]="!flag"></ion-input>
        </ion-item>
        <ion-item>
          <ion-item>
            <ion-label position="stacked">{{etiquetas.lbl_LastName}}</ion-label>
            <ion-input [(ngModel)]="personapaterno" type="text" readonly="true"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="stacked">{{etiquetas.lbl_Mother}}</ion-label>
            <ion-input [(ngModel)]="personamaterno" type="text" readonly="true"></ion-input>
          </ion-item>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">{{etiquetas.lbl_UserName}}</ion-label>
            <ion-input [(ngModel)]="userlogin" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">Empresa</ion-label>
            <ion-input [(ngModel)]="userjob" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-button (click)="gotoHome()">
                <ion-icon slot="end" name="arrow-round-back"></ion-icon>
                Volver
            </ion-button>
            <ion-button (click)="saveUsuario()">
                {{etiquetas.btn_UserRegistry}}
                <ion-icon slot="end" name="star"></ion-icon>
            </ion-button>
        </ion-item>
    </div>
  </ion-content>