<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Productos</ion-title>
        <ion-buttons slot="end">
            <ion-button *ngIf="addCard" slot="end" (click)="cerrar()">
                <ion-icon color="warning" class="{{animateAdd}}" name="cart"></ion-icon>
            </ion-button>
            <ion-button slot="end" (click)="cerrar()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of items" (click)="seleccionar(item)">
            <ion-avatar slot="start">
                <img src="../assets/product.svg"/>
            </ion-avatar>
            <ion-label>
                <p><b>{{item.ItemName}}</b></p>
                <p>{{item.SalesUnit}} </p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>