<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="tipo != null"> Crear pedido</ion-title>
        <ion-title *ngIf="tipo == null"> Detalle pedido</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <br/>
    <div class="ion-text-center">
        <ion-button *ngIf="CardName == ''" color="primary" shape="round" (click)="actionCliente()">
            Seleccionar cliente
        </ion-button>
    </div>

    <ion-card *ngIf="CardName != ''" (click)="actionCliente()">
        <ion-card-header>
            <ion-card-title>Cliente : {{CardName}}</ion-card-title>
            <ion-card-subtitle>Registrado: {{registrado}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <p><b>Dirección : </b> {{Address}}</p>
            <p><b>Sucursal : </b> {{Address}}</p>
        </ion-card-content>
    </ion-card>

    <div class="ion-text-center">
        <ion-button color="warning" *ngIf="CardName != ''" shape="round"
                    (click)="agregarProductos()">
            Agregar producto
        </ion-button>
    </div>

    <ion-list>
        <ion-item *ngFor="let item of productos" (click)="detalleProducto()">
            <ion-avatar slot="start">
                <img src="../assets/product.svg"/>
            </ion-avatar>
            <ion-label>
                <p><b>{{item.ItemName}}</b></p>
                <p>{{item.SalesUnit}} </p>
                <p><b>Cantidad : </b>{{item.cantidad}} </p>
            </ion-label>
        </ion-item>
    </ion-list>


</ion-content>
<ion-footer>
    <ion-grid>
        <ion-row>
            <ion-col size="8">
                <ion-button expand="block" color="primary" shape="round" fill="clear">
                    Enviar pedido
                </ion-button>
            </ion-col>
            <ion-col size="4">
                <p class="ion-text-center"><b>Total: 400</b></p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-footer>